@{
    Layout = null;
}
<html>
    <head>
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" />
    </head>
<body>
     


    <div>
        219.100.37.204
        219.100.37.204 VPNGATE
    </div>
</body>
</html>